<html>
<head>
    <title>To-Do lists</title>
</head>
<body>
<h1>Your To-Do list</h1>
<form method="post">
    <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
    {% csrf_token %}
</form>
<table id="id_list_table">
    <tr><td>1: {{ new_item_text }}</td></tr>
</table>
</body>
</html>
